lab1/country  
lab1/country.c~  
lab1/country.o 
lab1/list.c~ 
lab1/list.h~  
lab1/list.o 
lab1/Makefile~
lab2/country
lab2/country.c~
lab2/country.o
lab2/list.c~
lab2/list.h~
lab2/list.o
lab2/Makefile~
lab2/map.c~
lab2/map.o
lab2/map.h~
